*{
    box-sizing: border-box;
    z-index: 1;
}
.dashTop{
    width: 100%;
    padding: 0;
    margin: 0;
    height: calc(2vw + 150px);
    background-color: #1DB954;
}
.dashTitle{
    font-family: 'Lobster Two', cursive;
    font-size: calc(2vw + 90px);
    margin: 0;
    text-align: center;
    color: white;
}
.dashSearch{
    background: linear-gradient(#1DB954, #191414 170px);
    width: 100%;
    height: 100%;
    min-height: calc(100vh - (2vw + 150px));
    margin: 0;
    padding: 10px;
}
.search{
    width: 70%;
    height: 40px;
    margin: 0px 15% 120px 15%;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 10px #191414;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.searchBlock{
    height: 40px;
    width: 100%;
    position: sticky;
    z-index: 4;
    top: 0;
    background-color: #191414;
}
.input{
    width: calc(97% - 20px);
    height: 40px;
    margin: 0 0 0 calc(3% + 20px);
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.input::-webkit-search-cancel-button{
    margin-right: 15px;
    margin-left: 5px;
}
.input:focus{
    outline: none !important;
    background: transparent;
}
.searchIcon{
    margin: 19.5px calc(1vw + 3px);
    position: absolute;
}
.listCats{
    color: grey;
    width: 100%;
    overflow: hidden;
    height: 25px;
    position: sticky;
    top: 40px;
    background-color: #191414;
    z-index: 5;
}
.catTitle{
   margin-left: 4.5vw;
}
.catAlbum{
    margin-left: calc((1vw + 5px) + (25vw + 100px) + 3vw + 31px);
}
.catPop{
    margin-left: calc(5.59vw + 210px);
}
.catTime{
    margin-left: calc(6.41vw - 33px);
}
.catBreak{
    width: 95%;
    height: 2px;
    background-color: grey;
    margin: 5px auto;
    position: sticky;
    top: 65px;
}
.songList{
    background-color: #191414;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #191414;
}
.songElement{
    margin: 0;
    padding: 0;
}
.songElement:not(:first-of-type){
    margin-top: 10px;
}
.songElement:not(:last-of-type){
    margin-bottom: 10px;
}
.song{
    color: white;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.pageClick{
    margin: 0 0 0 4.5vw;
    cursor: pointer;
}
.songCover{
    margin: 0px calc(1vw + 5px) 0px 0;
    padding: 0;
    height: 60px;
    vertical-align: bottom;
}
.songNA{
    height: 50px;
    width: calc(25vw + 100px);
    overflow: hidden;
    margin-top: 5px;
}
.songName{
    margin: 0px;
    font-size: 17px;
    font-weight: 400;
    overflow: hidden;
    height: 25px;
}
.songArtists{
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #a5a5a5;
    overflow: hidden;
    height: 25px;
}
.explicit{
    margin-right: 5px;
    padding: 0;
    background-color: #a5a5a5;
    color: black;
    height: 16px;
    width: 16px;
    position: relative;
    bottom: -4px;
    border-radius: 2px;
}
.explicit span{
    position: relative;
    top: -5.5px;
    right: -5px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    margin: 0;
    display: inline-block;
}
.songAlbum{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    width: 300px;
    overflow: hidden;
    position: relative;
    top: -14px;
    right: -3vw;
}
.songPop{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    width: 30px;
    overflow: hidden;
    position: relative;
    top: -14px;
    right: -8.59vw;
}
.songTime{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    height: 25px;
    width: 40px;
    overflow: hidden;
    position: relative;
    top: -14px;
    right: -15vw;
}
.songTime span{
    margin: 0 2px;
}
.songBuffer{
    width: 19vw;
    height: 55px;
}
.buttons{
    height: 56px;
    width: 130px;
    position: static;
    background-color: #191414;
    vertical-align: bottom;
}
.play{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #1DB954;
    position: relative;
    cursor: pointer;
    top: -1px;
    transition: all 0.1s ease;
    transform: scale(1);
}
.play:hover{
    transform: scale(1.1);
}
.play:active{
    background-color: #14331f;
}
.playIcon{
    position: relative;
    top: 13px;
    right: -18px;
    color: rgba(0, 0, 0, 0.895);
    cursor: pointer;
}
.analysis{
    width: 50px;
    height: 50px;
    background-color: grey;
    position: relative;
    right: -2vw;
    top: -1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    transform: scale(1);
}
.analysis:hover{
    transform: scale(1.1);
}
.analysis:active{
    background-color: rgb(48, 48, 48);
}
.analIcon{
    position: relative;
    top: 13px;
    right: -13px;
    z-index: 3;
    cursor: pointer;
}
.dashBottom{
    width: fit-content;
    margin: 25px auto 0px auto;
}
.dashNP{
    width: 70px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #1DB954;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}
.prev{
    margin-right: 10px;
}
.next{
    margin-left: 10px;
}
.dashPage{
    color: white;
    font-size: 15px;
}
.pages{
    cursor: pointer;
}
.pagesDots{
    margin-left: 10px;
    font-size: 18px;
}
.pages:not(:first-of-type){
    margin-left: 10px;
}
.inline{
    display: inline-block;
}
.playbackDiv{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 99%;
    z-index: 6;
    height: 49px;
}
.rswp__active._InfoRSWP.__mvqn38{
    border-bottom: 1px solid #1d1717;
}
@media(max-width: 1020px){
    ._ControlsRSWP.__73jrio{
        position: relative;
        top: -49px;
        width: 30%;
    }
}
@media(max-width: 1470px){
    .songBuffer{
        width: 16vw;
    }
    .catTime, .songTime{
        display: none;
    }
}
@media(max-width: 1300px){
    .songBuffer{
        width: 10vw;
    }
    .catPop, .songPop{
        display: none;
    }
}

@media(max-width: 1130px){
    .songAlbum{
        width: 200px;
    }
}
@media(max-width: 900px){
    .songBuffer{
        width: 5vw;
    }
    .songAlbum{
        width: 200px;
    }
}
@media(max-width: 950px){
    .songBuffer{
        width: 15vw;
    }
    .catAlbum, .songAlbum{
        display: none;
    }
}
@media(max-width: 750px){
    .songBuffer{
        width: 5vw;
    }
}
@media(max-width: 650px){
    .songBuffer{
        width: 0vw;
    }
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(54, 54, 54);
}
body {
    overflow: overlay;
}
.error{
    width: 100%;
    height: 150px;
    color: white;
    font-size: 50px;
    text-align: center;
}
.error p{
    margin: 0;
}
.pageTopTop{
    background-color: #191414;
}
.pageTop{
    height: 280px;
    width: 100%;
    overflow: hidden;
}
.pageArr{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 6;
}
.pageCover{
    height: 230px;
    position: relative;
    top: 30px;
    right: -10vw;
    box-shadow: 0px 0px 20px white;
}
.pageNAA{
    position: relative;
    right: calc(-10vw - 50px);
    top: 10px;
    height: 170px;
    width: 700px;
    font-family: 'Poppins', sans-serif;
}
.pageName{
    font-size: 50px;
    margin: 0;
    width: 100%;
    font-weight: 500;
    overflow: hidden;
}
.pageAlbum{
    margin: 0;
    font-size: 30px;
    width: 100%;
    font-weight: 400;
    position: relative;
    top: -5px;
    right: -5px;
    overflow: hidden;
}
.pageArtists{
    margin: 0;
    font-size: 30px;
    width: 100%;
    font-weight: 400;
    position: relative;
    top: -5px;
    right: -5px;
    overflow: hidden;
}
.userIcon{
    margin: 0px 10px 0px 17px;
}
.usersIcon{
    margin: 0px 7px 0px 13px;
}
.pageAnalysis{
    position: absolute;
    top: 0px;
    right: 40px;
    font-family: 'Lobster Two', cursive;
    width: 200px; 
    text-align: center;
    height: 55px;
    overflow: hidden;
    cursor: pointer;
    transition: height 1s ease,
                width 1s ease;
}
.pageAnalysis:hover{
    width: 350px;
    height: 280px;
}
.pageAnalysis p{
    margin: 0;
}
.pageAnalysisTop{
    height: 55px;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    overflow: hidden;
}
.pageAnalysisBody{
    width: 100%;
    height: 245px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.pageAnalysisBody span{
    width: 50%;
    height: 15%;
    overflow: hidden;
}
.pageAnalysisBody span span{
    font-weight: 500;
    overflow: hidden;
}
.pageLyrics{
    height: 100%;
    min-height: calc(100vh - 280px);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 120px;
    padding-bottom: 100px;
    font-weight: 300;
}